﻿@*@using Honor.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Awal</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">PROSES DENDA PAJAK(PPh 21)</label>
                            <div class="col-md-10">
                                <input type="checkbox" name="" />
                                %
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">BERLAKU DENDA PAJAK TIDAK ADA NPWP</label>
                            <div class="col-md-10">
                                <input type="text" name="Nilai" class="form-control" maxlength="100" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-prev btn btn-danger"><i class="glyphicon glyphicon-trash"></i> CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['Nilai'].checked = r.Data.Nilai;
             
                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        Nilai: t['Nilai'].value,
                     
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                //if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="Nilai"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });
    });
</script>*@

