﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - @Honor.Helper.ConfigModel.AppName</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Themes/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/colors.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/components.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/core.min.css" rel="stylesheet" />
<link href="~/Themes/assets/css/icons/icomoon/styles.css" rel="stylesheet" />
<link href="~/Themes/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="~/Themes/assets/js/core/libraries/jquery.min.js"></script>
<script src="~/Themes/assets/js/core/libraries/bootstrap.min.js"></script>
<script src="~/Themes/assets/js/core/app.min.js"></script>
<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/Themes/assets/js/plugins/cleave.min.js"></script>

<script src="~/Scripts/mahas.js"></script>