﻿@using Microsoft.AspNet.Identity
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                        <li><a href="@Url.Action("Index", "HitungHonor")"><i class="icon-calculator2"></i> <span>Hitung Honor</span></a></li>
                        <li><a href="@Url.Action("Index", "InputHonorLain")"><i class="icon-keyboard"></i> <span>Input Honor Lain</span></a></li>
                        <li><a href="@Url.Action("Index", "SetupAwal")"><i class="icon-gear"></i> <span>Setup Awal</span></a></li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-printer4"></i> <span>Report</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Report", new { name = "Laporan Rekap Honor", category = "RekapHonor"})">Laporan Rekap Honor</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Laporan Akumulasi Honor", category = "AkumulasiHonor"})">Laporan Akumulasi Honor</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>