﻿@using Honor.Helper
<div id="modalsetupdetaildokter" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hitung Honor</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama Dokter</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NamaDokter" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Honor</label>
                                    <div class="col-md-8">
                                        <input type="text" name="TotalHonor" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Pajak</label>
                                    <div class="col-md-8">
                                        <input type="text" name="TotalPajak" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Alat Dokter</label>
                                    <div class="col-md-8">
                                        <input type="text" name="AlatDokter" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Rumkit</label>
                                    <div class="col-md-8">
                                        <input type="text" name="TotalRumkit" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total RSU</label>
                                    <div class="col-md-8">
                                        <input type="text" name="TotalRSU" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Honor Nett</label>
                                    <div class="col-md-8">
                                        <input type="text" name="HonorNett" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akumulasi Honor Sebelumnya</label>
                                    <div class="col-md-8">
                                        <input type="text" name="AkumulasiHonorSebelumnya" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pajak DPP</label>
                                    <div class="col-md-8">
                                        <input type="text" name="PajakDPP" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pajak Tarif</label>
                                    <div class="col-md-8">
                                        <input type="text" name="PajakTarif" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pajak Nominal</label>
                                    <div class="col-md-8">
                                        <input type="text" name="PajakNominal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-xxs table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Pasien</td>
                                            <td>NoReg</td>
                                            <td>Jenis Pasien</td>
                                            <td>TglTindakan</td>
                                            <td>JasaName</td>
                                            <td>Kelas</td>
                                            <td>Keterangan</td>
                                            <td>Qty</td>
                                            <td>Tarif</td>
                                            <td>Diskon</td>
                                            <td>Potongan</td>
                                            <td>KetPotongan</td>
                                            <td>NoInvoice</td>
                                            <td>Validasi</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup_dokter;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup_dokter = new iSetup({
            modal: 'modalsetupdetaildokter',
            urldetail: '@Url.Action("Detail_dokter")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup_dokter.form;

                    // detail value
                    t['NamaDokter'].value = r.Data.NamaDokter;
                    t['TotalHonor'].value = getcurrencyfromfloat(r.Data.TotalHonor) || '0';
                    t['TotalPajak'].value = getcurrencyfromfloat(r.Data.TotalPajak) || '0';
                    t['AlatDokter'].value = getcurrencyfromfloat(r.Data.AlatDokter) || '0';
                    t['TotalRumkit'].value = getcurrencyfromfloat(r.Data.TotalRumkit) || '0';
                    t['TotalRSU'].value = getcurrencyfromfloat(r.Data.TotalRSU) || '0';
                    t['HonorNett'].value = getcurrencyfromfloat(r.Data.HonorNett) || '0';
                    t['AkumulasiHonorSebelumnya'].value = getcurrencyfromfloat(r.Data.AkumulasiHonorSebelumnya) || '0';
                    t['PajakDPP'].value = getcurrencyfromfloat(r.Data.PajakDPP) || '0';
                    t['PajakTarif'].value = getcurrencyfromfloat(r.Data.PajakTarif) || '0';
                    t['PajakNominal'].value = getcurrencyfromfloat(r.Data.PajakNominal) || '0';

                    let detail = '';
                    r.Detail.forEach(x => {
                        detail += `<tr>`;
                        detail += `<td>${x.Pasien}</td>`;
                        detail += `<td>${x.NoReg}</td>`;
                        detail += `<td>${x.JnPasien || '-'}</td>`;
                        detail += `<td>${x.TglTindakan}</td>`;
                        detail += `<td>${x.JasaName}</td>`;
                        detail += `<td>${x.Kelas}</td>`;
                        detail += `<td>${x.Keterangan || '-'}</td>`;
                        detail += `<td>${x.Qty}</td>`;
                        detail += `<td>${getcurrencyfromfloat(x.Tarif) || '0'}</td>`;
                        detail += `<td>${x.Diskon}</td>`;
                        detail += `<td>${getcurrencyfromfloat(x.Potongan) || '0'}</td>`;
                        detail += `<td>${x.KetPotongan}</td>`;
                        detail += `<td>${x.NoInvoice}</td>`;
                        detail += `<td class="text-center"><input type="checkbox" disabled ${x.Validasi && 'checked'}/></td>`;
                        detail += `</tr>`;
                    });

                    $(isetup_dokter.form).find('table tbody').html(detail);
                    isetup_dokter.init();

                    isetup_dokter.modal.modal({backdrop: 'static'});
                    $('.modal-backdrop:last').css('z-index', $('#modalsetupdetaildokter').css('z-index') - 1);
                } else
                    alert(r.Message);
            }
        });

        $('#modalsetupdetaildokter').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        $(isetup_dokter.form['TipeHonor']).select2();
        $(isetup_dokter.form['FilterDokter']).select2({
            ajax: {
                url: "@Url.Action("HitungHonor_Dokter", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: "Dokter"
        });
    });
</script>