﻿@{
    ViewBag.Title = "Hitung Honor";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Honor.Helper
<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header" style="border-bottom: 10px solid #fff;">
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Filter</label>
                        <input type="search" onchange="itable.pageindex=0" data-itable-filter="All" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Tipe Pelayanan</label>
                        <select data-itable-filter="TipeHonor" class="form-control" onchange="itable.refresh()">
                            <option value="">All</option>
                            @Html.Raw(Honor.Helper.HList.Honor_TipeHonor)
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Periode</label>
                        <div class="col-md-3 input-group">
                            <input type="date" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeStart" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                            <label class="input-group-addon">s/d</label>
                            <input type="date" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeEnd" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                        </div>
                    </div>
                </div>
                <div class="form-group hidden">
                    <select class="form-control itable-pagesize" style="width: auto;">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <div class="form-inline" style="margin-bottom:15px;">

                </div>
                <div class="form-inline" style="margin-bottom:15px;">

                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="NoBukti ">No Bukti<i></i></th>
                            <th class="sorting" data-itable-sorting="TglInput">Tgl Proses<i></i></th>
                            <th class="sorting" data-itable-sorting="TipeHonor">Tipe Honor<i></i></th>
                            <th class="sorting" data-itable-sorting="TglStart">Tgl Mulai<i></i></th>
                            <th class="sorting" data-itable-sorting="Tanggal">Tanggal Selesai<i></i></th>
                            <th class="sorting" data-itable-sorting="Keterangan">Keterangan<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'NoBukti',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += `<tr><td colspan="${$(itable.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`;
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += `<td>${value.NoBukti}</td>`;
                        tbody += `<td>${value.TglInput}</td>`;
                        tbody += `<td>${value.TipeHonor}</td>`;
                        tbody += `<td>${value.TglStart}</td>`;
                        tbody += `<td>${value.Tanggal}</td>`;
                        tbody += `<td>${value.Keterangan || '-'}</td>`;

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        const _params = `{
                            Id : '${value.NoBukti}',
                        }`;

                        tbody += `<li><a href="javascript:modalviewopenmodal('${value.NoBukti}')">View</a></li>`;

                        if (!value.Valisasi && !value.Posted) {
                            tbody += `<li><a href="javascript:itable.openmodalyesno('@Url.Action("Validasi")/${value.NoBukti}','VALIDASI')">Valisasi</a></li>`;
                        }
                        if (value.Valisasi && !value.Posted) {
                            tbody += `<li><a href="javascript:itable.openmodalyesno('@Url.Action("BatalValidasi")/${value.NoBukti}','CANCEL VALIDASI')">Cancel Valisasi</a></li>`;
                            tbody += `<li><a href="javascript:itable.openmodalyesno('@Url.Action("Posting")/${value.NoBukti}','POSTING')">Posting</a></li>`;
                        }
                        if (value.Valisasi && value.Posted) {
                            tbody += `<li><a href="javascript:itable.openmodalyesno('@Url.Action("BatalPosting")/${value.NoBukti}','CANCEL POSTING')">Cancel Posting</a></li>`;
                        }

                        if (!value.Valisasi) {
                            tbody += `<li><a href="javascript:isetup.opensetup(\'DELETE\',${_params})"><i class="icon-trash"></i> Delete</a></li>`;
                        }

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();

        itable.urlacthivemodalyesno;
        itable.openmodalyesno = (url, action) => {
            itable.urlacthivemodalyesno = url;
            if (action == "VALIDASI") {
                $('#modalyesno .modal-body p').html('Yakin akan melakukan validasi?');
            } else if (action == "POSTING") {
                $('#modalyesno .modal-body p').html('Yakin akan melakukan posting?');
            } else if (action == "BATAL VALIDASI") {
                $('#modalyesno .modal-body p').html('Yakin akan membatakan validasi?');
            } else if (action == "POSTING") {
                $('#modalyesno .modal-body p').html('Yakin akan membatalkan posting?');
            }
            $('#modalyesno .modal-header h4').html(action);
            $('#modalyesno').modal();
        };

        itable.submitmodalyesno = (e) => {
            e.preventDefault();
            $.ajax({
                url: itable.urlacthivemodalyesno,
                type: 'POST',
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        itable.urlacthivemodalyesno = null;
                        $('#modalyesno').modal('hide');
                        itable.refresh();
                    } else
                        alerterror(r.Message);
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
        };
    });
</script>
@Html.Partial("View")
@Html.Partial("Setup")
@Html.Partial("_ViewPasien")
@Html.Partial("_ViewDokter")

<div id="modalyesno" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <form autocomplete="off" onsubmit="itable.submitmodalyesno(event)">
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn bg-grey-300" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn-save btn btn-primary">YA</button>
                </div>
            </form>
        </div>
    </div>
</div>