﻿@using Honor.Helper
<form id="formtablelistpasien">
    <div class="panel panel-flat" style="border-top:none;">
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="form-inline" style="margin-bottom:15px;">
                    <input type="hidden" data-itable-filter="NoBukti" />
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="search" onchange="itable_pasien.pageindex=0" data-itable-filter="All" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="itable_pasien.refresh();" class="btn btn-default"><i class="icon-search4"></i></button>
                    </div>
                    <div class="form-group hidden">
                        <select class="form-control itable-pagesize" style="width: auto;">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="NoReg">No Reg<i></i></th>
                            <th class="sorting" data-itable-sorting="Tanggal">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="NRM">NRM<i></i></th>
                            <th class="sorting" data-itable-sorting="NamaPasien">Nama Pasien<i></i></th>
                            <th class="sorting" data-itable-sorting="NoInvoice">No Invoice<i></i></th>
                            <th class="sorting" data-itable-sorting="TotalHonor">Total Honor<i></i></th>
                            <th class="sorting" data-itable-sorting="TotalAlat">Alat<i></i></th>
                            <th class="sorting" data-itable-sorting="Validasi">Validasi<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable_pasien;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable_pasien = new iTable({
            url: '@Url.Action("List_Pasien")',
            table: document.getElementById('formtablelistpasien'),
            orderby: 'NoReg',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += `<tr><td colspan="${$(itable_pasien.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`;
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += `<td>${value.NoReg}</td>`;
                        tbody += `<td class="text-center">${value.Tanggal}</td>`;
                        tbody += `<td class="text-center">${value.NRM}</td>`;
                        tbody += `<td>${value.NamaPasien}</td>`;
                        tbody += `<td>${value.NoInvoice}</td>`;
                        tbody += `<td class="text-right">${getcurrencyfromfloat(value.TotalHonor) || 0}</td>`;
                        tbody += `<td class="text-right">${getcurrencyfromfloat(value.Alat) || 0}</td>`;
                        tbody += `<td class="text-center"><input type="checkbox" disabled ${value.Validasi ? 'checked' : ''}/></td>`;

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        const _params = `{
                            Id : '${value.NoBukti}',
                        }`;

                        tbody += '<li><a href="javascript:isetup_pasien.opensetup(\'VIEW\', { id : \'' + value.NoBukti + '\', noinvoice : \'' + value.NoInvoice + '\'})"><i class="icon-eye"></i> View</a></li>';
                        tbody += `<li><a href="javascript:isetup_pasien.opensetup(\'DELETE\',{ id : '${value.NoBukti}', noinvoice : '${value.NoInvoice}'})"><i class="icon-trash"></i> Delete</a></li>`;

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
    });
</script>