﻿@using Honor.Helper
<div id="modalview" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hitung Honor</h4>
            </div>
            <form autocomplete="off" id="formmodalview">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">No Bukti</label>
                                    <div class="col-md-10">
                                        <input type="text" name="NoBukti" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tipe Honor</label>
                                    <div class="col-md-10">
                                        <input type="text" name="TipeHonor" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Periode</label>
                                    <div class="col-md-10">
                                        <input type="date" name="Periode" readonly class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Keterangan</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" name="Keterangan" readonly style="height:92px; max-width:100%; min-width:100%;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Filter Dokter</label>
                                    <div class="col-md-10">
                                        <input type="text" readonly name="FilterDokterNama" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 0;">
                <li role="presentation" class="active"><a href="#listpasien" aria-controls="home" role="tab" data-toggle="tab">Pasien</a></li>
                <li role="presentation"><a href="#listdokter" aria-controls="profile" role="tab" data-toggle="tab">Dokter</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="listpasien">
                      @Html.Partial("ListPasien")
                  </div>
                  <div role="tabpanel" class="tab-pane" id="listdokter">
                      @Html.Partial("ListDokter")
                  </div>
              </div>

            </div>
        </div>
    </div>
</div>

<script>
    const modalviewopenmodal = id => {
        $.ajax({
            url: '@Url.Action("Detail")',
            type: 'POST',
            data: { id: id },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    const f = document.getElementById('formmodalview');
                    f['NoBukti'].value = r.Data.NoBukti;
                    f['TipeHonor'].value = r.Data.TipeHonor;
                    f['Periode'].value = r.Data.Periode;
                    f['Keterangan'].value = r.Data.Keterangan;
                    f['FilterDokterNama'].value = r.Data.FilterDokterNama;
                    $(itable_pasien.table).find('[data-itable-filter="NoBukti"]').val(r.Data.NoBukti);
                    $(itable_dokter.table).find('[data-itable-filter="NoBukti"]').val(r.Data.NoBukti);
                    itable_pasien.refresh();
                    itable_dokter.refresh();
                    $('#modalview').modal();
                } else
                    alerterror(r.Message);
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };
</script>